@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
html {
  background-color: #0c0c18;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

#stage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.logo {
  position: absolute;
  margin: 20px 40px;
}
.logo span {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border-bottom: 2px solid #fff;
  padding-bottom: -2px;
  margin: 0px 5px;
  opacity: 90%;
  position: relative;
  display: inline-block;
  top: 10px;
  -webkit-animation: bounce 0.9s ease alternate;
          animation: bounce 0.9s ease alternate;
}
.logo span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.logo span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.logo span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes bounce {
  50% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes bounce {
  50% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
.landscape {
  background: url(assets/rotate.png) no-repeat;
  width: 400px;
  height: 400px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.nav {
  position: fixed;
  display: none;
  left: 0%;
  top: 50%;
  z-index: 12;
  width: 100px;
  height: 600px;
  margin-top: -300px;
}

.nav ul {
  z-index: 99;
  position: relative;
  left: 40px;
  height: 240px;
  top: 180px;
}

.nav ul li {
  height: 40px;
  position: relative;
  white-space: nowrap;
}

z.nav ul li.active i {
  background-image: url(assets/5984900200176.png);
}

.nav ul li i {
  width: 80px;
  height: 44px;
  display: block;
  font-size: 15px;
  color: #a6a6aa;
  font-style: normal;
  display: inline;
}

.nav ul li i:before {
  content: "";
  width: 0;
  height: 0;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border: 3px solid #fff;
  transition: left 0.3s, top 0.3s, width 0.3s, height 0.3s;
  position: absolute;
  left: -21px;
  top: 8px;
}

.nav ul li.active i {
  color: #fff;
}

.nav ul li.active i:before {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  left: -27px;
  top: 2px;
}

.nav ul li span {
  font-size: 12px;
  color: #a6a6aa;
  position: absolute;
  width: 100px;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s, transform 0.3s, color 0.3s;
  text-transform: uppercase;
  top: 3px;
}

.nav ul li span:hover {
  color: #fff;
  transition-delay: 0s;
}

.nav ul li:nth-of-type(1) span {
  transition-delay: 0s;
}

.nav ul li:nth-of-type(2) span {
  transition-delay: 0.02s;
}

.nav ul li:nth-of-type(3) span {
  transition-delay: 0.04s;
}

.nav ul li:nth-of-type(4) span {
  transition-delay: 0.06s;
}

.nav ul li:nth-of-type(5) span {
  transition-delay: 0.08s;
}

.nav ul li:nth-of-type(6) span {
  transition-delay: 0.1s;
}

.nav:hover ul li span {
  opacity: 1;
  transform: translateX(0px);
}

.nav ul li.active span {
  color: #fff;
  opacity: 1;
  transform: translateX(0px);
}

.text-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  touch-action: none;
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease 0s;
  z-index: 1;
}

.text-container .section {
  width: 100%;
  height: 100%;
}

.fp-section {
  position: relative;
  box-sizing: border-box;
}

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-tableCell {
  display: inline-block;
  position: relative;
  width: 100%;
  top: 0;
  height: 100%;
}

.section.fp-completely .txt {
  opacity: 1;
  filter: blur(0px);
}

.section.fp-completely .txt,
.section.fp-completely .dots {
  opacity: 1;
  filter: blur(0px);
}

canvas {
  position: absolute;
  top: 0;
  z-index: 0;
}

.section .txt {
  position: absolute;
  top: 50%;
  width: 31%;
  -webkit-user-select: none;
  z-index: 1;
}

.txt img {
  width: 100%;
  pointer-events: none;
}

.section .txt,
.section .dots {
  opacity: 0;
  transition: opacity 2s 0.5s, filter 2s 0.5s;
  filter: blur(100px);
}

.section.fp-completely .txt,
.section.fp-completely .dots {
  opacity: 1;
  filter: blur(0px);
}

.section .dots {
  z-index: 12;
  opacity: 0;
  top: 52%;
  right: 0%;
  position: absolute;
  width: 100%;
}

.section .txt,
.section .dots {
  opacity: 0;
  transition: opacity 2s 0.5s, filter 2s 0.5s;
  filter: blur(100px);
}

.section .fp-tableCell .dots {
  transition-delay: 1s, 1s;
}

.webglyes .dot {
  width: 0.3rem;
  height: 0.3rem;
}

.page1 .txt {
  top: 40%;
  right: 6%;
}

.page2 .txt {
  top: 42%;
  left: 20%;
}

.page3 .txt {
  right: 0%;
  top: 40%;
}

.page4 .txt {
  top: 28%;
  right: 5%;
}

.page5 .txt {
  top: 33%;
  left: 35%;
}

.page5 .txt-bottom {
  top: 2%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  color: white;
}

/*  slider */


.image {
  width: 100%;
  height: 200px;
}
.radio {
  /*display: none;*/
  position: relative;
  top: 95vh;
  z-index: 999;
  left: 2vw;
  opacity: 10%;
}

.images {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.images-inner {
  width: 2000%;
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.image-slide {
  width: 100vw;
  float: left;
}
.image-slide,
.fake-radio,
.radio-btn {
  transition: all 0.5s ease-out;
}
.fake-radio {
  float: right;
}


/* Move slides overflowed container */
#slide1:checked ~ .images .images-inner {
  margin-left: 0;
}
#slide2:checked ~ .images .images-inner {
  margin-left: -100%;
}
#slide3:checked ~ .images .images-inner {
  margin-left: -200%;
}
#slide4:checked ~ .images .images-inner {
  margin-left: -300%;
}
#slide5:checked ~ .images .images-inner {
  margin-left: -400%;
}
#slide6:checked ~ .images .images-inner {
  margin-left: -500%;
}
#slide7:checked ~ .images .images-inner {
  margin-left: -600%;
}
#slide8:checked ~ .images .images-inner {
  margin-left: -700%;
}
#slide9:checked ~ .images .images-inner {
  margin-left: -800%;
}
#slide10:checked ~ .images .images-inner {
  margin-left: -900%;
}
#slide11:checked ~ .images .images-inner {
  margin-left: -1000%;
}
#slide12:checked ~ .images .images-inner {
  margin-left: -1100%;
}
#slide13:checked ~ .images .images-inner {
  margin-left: -1200%;
}
#slide14:checked ~ .images .images-inner {
  margin-left: -1300%;
}
#slide15:checked ~ .images .images-inner {
  margin-left: -1400%;
}
#slide16:checked ~ .images .images-inner {
  margin-left: -1500%;
}
#slide17:checked ~ .images .images-inner {
  margin-left: -1600%;
}
#slide18:checked ~ .images .images-inner {
  margin-left: -1700%;
}
#slide19:checked ~ .images .images-inner {
  margin-left: -1800%;
}
#slide20:checked ~ .images .images-inner {
  margin-left: -1900%;
}



.radio-btn {
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background: gray;
  display: inline-block !important;
  margin: 0 1px;
  cursor: pointer;
}


.label {
  opacity: 0;
  position: absolute;
}



/*  Mod */
.section {
  height: 100vh;
}

.images {
  font-family: 'Times New Roman', Times, serif;
}

.image {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image.blur {
  backdrop-filter: blur(10px);
}

.image .text-box {
  width: 1000px;
  /* height: 400px; */
  margin-bottom: 60px;
}

.text-box .hight-light {
  color: lightgreen;
}

.image .title-box {
  color: lightgreen;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 100px;
}

.image .picture-box-big {
  width: 900px;
  margin-bottom: 20px;
}

.image .picture-box-medium {
  width: 600px;
  margin-bottom: 20px;
}

.image .picture-box-small {
  width: 300px;
  margin-bottom: 20px;
}

.large {
  font-size: 100px;
}

.big {
  font-size: 50px;
}

.medium {
  font-size: 35px;
}

.small {
  font-size: 20px;
}

.red {
  color: lightcoral;
}

.green {
  color: lightgreen;
}

.text-center {
  text-align: center;
}